div {
  position: relative;
}

.dice {
  height: 20px;
  width: 20px;
}
div::after {
  position: absolute;
  content: "";
}
.brelan {
  background: blue;
}
.bingo {
  background: red;
}
.suite {
  background: yellow;
}
.rest {
  background: green;
}
